<div class="file-detail-shared">
  <span ng-if="hasTopic">
    <span>{{::'@common-shared-in'|translate}}</span>
    <span ng-repeat="sharedEntity in file.extShared">
      <span ng-hide="($index === 0)">, </span>
      <span class="shared-room cursor_pointer" ng-click="onClickSharedEntity(sharedEntity)">
        {{::sharedEntity.prefix}}{{::sharedEntity.name}}
      </span>
      <a class="link-remove link-unshare cursor_pointer" ng-click="onClickUnshare(sharedEntity)">
        <i class="icon-remove-circle"
           tooltip="{{::'@file-action-unshare'|translate}}"
           tooltip-placement="right"></i>
      </a>
    </span>
  </span>
  <span ng-if="!hasTopic">
    <span>{{::'@alert-empty-file-shared'|translate}}</span>
  </span>
</div>
