
/********************************************
                 멘션
********************************************/
.mention {
  color: #1C6C88;
}

.mention:hover {
  text-decoration: underline;
}

.mention.me,
.mention.all {
  padding: 1px 2px;
  background-color: rgba(3, 169, 244, 0.15);
}

.mention.all:hover {
  text-decoration: none;
}

.mention.inactive:hover {
  text-decoration: none;
  color: #1C6C88;
}
