.message.self .msg-item {
  background-color: #E8F2FB;
  border-bottom-color: #CBDCEA;
}
.message.self.comment .msg-item:hover {
  background-color: #F7FBFE;
}
.message.self.text .msg-item {
  border: 1px solid #CBDCEA;
}
