.mentionahead {
  position: absolute;
  right: 0;
  background-color: #fff;
  border:1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
}

.mentionahead .mention-members {
  overflow-y: auto;
  overflow-x: hidden;
}

/* comment mention ahead */
.upload-comment-textarea {
  position: relative;
}

/* message mention ahead */
.message-input-wrapper .mention-members {
  max-height: 240px;
}

.upload-comment-textarea .mention-members,
.comment-textarea-wrap .mention-members {
  max-height: 130px
}
