.rpanel-detail-body-comment {
  background-color: white;
  min-height: 8px;
}

.archived-file-detail .rpanel-detail-body-comment {
  padding: 8px;
}

.comment-item {
  position: relative;
  padding: 9px 12px 10px 55px;
  font-size: 14px;
  color: #333;
  border: 1px solid #e4e8eb;
  border-bottom: 0;
  border-width: 1px 0;
  margin-top: -1px;
}
.comment-item:last-child {
  border-bottom: 0;
}
.comment-item.comment-child:after {
  content: '';
  position: absolute;
  top: -1px;
  left: 0px;
  width: 54px;
  height: 1px;
  background-color: #FFF;
}

.error-comment-item .comment-item-body,
.sending-comment-item .comment-item-body {
  color: #c1c1c1;
}

.comment-writer-profile {
  position: absolute;
  top: 2px;
  left: -45px;
}
.comment-writer-profile .user-profile {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 3px;
  left: 3px;
}

.comment-item-header {
  position: relative;
}

.comment-item-header > span {
  margin-right: 3px;
}

.comment-writer-name {
  max-width: calc(50% - 4px);
  font-weight: 700;
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
}

.comment-writer-date {
  color: #999;
  font-size: 0.69rem;
  vertical-align: top;
  margin-left: 0.25em;
  line-height: 1.38rem;
  padding-top: 2px;
}

.comment-item .comment-item-action {
  display: inline-block;
}

.comment-item-action:last-child {
  padding-left: 8px;
}

.comment-item-action.comment-delete {
  font-size: 11px;
  vertical-align: bottom;
}

.comment-item-header__action {
  display: none;
  margin-top: 0;
}

.comment-item:hover .comment-item-header__action {
  display: block;
}

.comment-item.comment-child .comment-item-header__action {
  margin-top: 2px;
}

.comment-profile {
  display: inline-block;
  max-width: calc(100% - 40px);
}

.comment-item-body {
  position: relative;
  line-height: 14px;
  font-size: 0.85rem;
  line-height: 1.22rem;
}
.comment-item-body .sticker {
  display: inline-block;
}
.error-comment-item .comment-item-body {
  margin-right: 21px;
}
.comment-item.comment-child .comment-item-body {
  margin-right: 42px;
}

.comment-item__profile {
  width: 40px;
  height: 40px;
}

.comment-item-float {
  float: left;
  margin: 0 0 0 -50px;
}

.comment-item-body .comment {
  display: inline;
  margin: 0;
  line-height: 20px;
}

.comment-item-body .msg-time {
  display: inline;
  margin-left: 0.75em;
}

.comment-item-body .comment .mention,
.comment-item-body .comment a {
  color: #00ACE9;
}
.comment-item-body .comment .mention:hover,
.comment-item-body .comment a:hover {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 172, 233, 0.7);
}