<div class="rpanel-detail-body-comment">
  <div class="comment-item"
       ng-class="{'sending-comment-item': comment.isSendingComment,
                  'file-detail-disabled-member': comment.extIsDisabledMember,
                  'comment-child': comment.extIsChild}"
       ng-repeat="comment in comments" id="{{comment.id}}">
    <div class="comment-item-header">
      <div class="comment-profile" ng-if="::!comment.extIsChild">
        <div class="comment-writer-profile">
          <img class="user-profile user-thumb-sm cursor_pointer"
               ng-src="{{ comment.extProfileImg }}"
               ng-click="onMemberClick(comment.extWriter);"/>
        </div>
        <span class="comment-writer-name inline-overflow-ellipsis selectable" ng-click="onMemberClick(comment.extWriter)">
          {{comment.extWriterName}}
        </span>
        <span class="comment-writer-date">{{comment.extCreateDate}}</span>
      </div>
      <div class="comment-item-header__action pull-right" ng-if="::!comment.isSendingComment">
        <div class="comment-item-action comment-delete link-dark cursor_pointer"
             ng-if="hasOwnComment(comment)"
             ng-click="deleteComment(comment)">
          <i class="icon-trash"></i>
        </div>
        <div class="comment-item-action comment-star link-dark cursor_pointer"
             ng-if="!comment.extIsSticker"
             ng-class="{'show-inline-block': comment.isStarred}">
          <i ng-class="comment.isStarred ? 'icon-star-on' : 'icon-star-off'" star-view="comment.isStarred" star-view-id="comment.id"></i>
        </div>
      </div>
    </div>
    <div class="comment-item-body">
      <div class="sticker size_5" ng-if="::comment.extIsSticker" ng-style="::{'background-image': 'url({{::comment.content.url}})'}"></div>
      <file-detail-comment ng-if="::!comment.extIsSticker"
                           comment="comment"
                           content="comment.content.body"></file-detail-comment>
      <span class="create-time msg-time" ng-if="::comment.extHasCreateTime">{{comment.extCreateTime}}</span>
    </div>
  </div>

  <div class="error-comment-item comment-item" ng-repeat="comment in errorComments"
       ng-class="{'file-detail-disabled-member': comment.extIsDisabledMember}">
    <div class="comment-writer-profile">
      <img class="user-profile user-thumb-sm cursor_pointer"
           ng-src="{{ comment.extProfileImg }}" />
    </div>
    <div class="comment-item-header">
      <span class="comment-writer-name" ng-click="onMemberClick(comment.extWriter)">{{comment.extWriterName}}</span>
      <span class="comment-writer-date">{{comment.extCreateDate}}</span>

      <div class="comment-item-header__action pull-right">
        <div class="comment-item-action comment-delete link-dark cursor_pointer"
             ng-if="hasOwnComment(comment)"
             ng-click="deleteSendingComment($index)">
          <i class="icon-trash"></i>
        </div>
      </div>
    </div>
    <div class="comment-item-body">
      <span ng-if="::comment.extIsSticker">
        <div class="sticker size_5"  ng-style="::{'background-image': 'url({{::comment.content.url}})'}"></div>
        <span class="post-retry cursor_pointer" ng-click="retry($index, comment)">
          <i class="icon-refresh"></i> Retry
        </span>
      </span>
      <span ng-if="::!comment.extIsSticker">
        <span class="comment selectable keep" ng-bind-html="::comment.content.body"></span>
        <span class="post-retry cursor_pointer" ng-click="retry($index, comment)">
          <i class="icon-refresh"></i> Retry
        </span>
      </span>
    </div>
  </div>
</div>
