.search-result-container {
  position: absolute;
  top: 135px;
  left: 0;
  right: 0;
  color: #999999;
  background-color: #fff;
  z-index: 1;
}

.search-result-container .search-result-summary-ing > span {
  display: inline-block;
}

.search-result-container .search-result-summary-ing .loading_bar {
  display: inline-block;
  top:14px;
  left:-12px;
}

.search-result-container .search-result-summary-ing {
  padding: 12px 0 12px 40px;
  border-bottom:1px solid #D5DADB;
  border-top: 1px solid rgba(5, 35, 60, 0.1);
  background-color: #FFF;
}
.search-result-container .search-result-summary {
  padding: 12px 0 12px 16px;
  border-bottom:1px solid #D5DADB;
  border-top: 1px solid rgba(5, 35, 60, 0.1);
  background-color: #FFF;
}
.file-tab .search-result-container .search-result-summary:before,
.file-tab .search-result-container .search-result-summary-ing:before,
.message-tab .search-result-container .search-result-summary:before,
.message-tab .search-result-container .search-result-summary-ing:before  {
  content: '';
  position: absolute;
  left: 0;
  top:41px;
  right: 0;
  height: 1px;
  z-index: -1;
  
  -webkit-box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2);
}
.search-result-container .search-result-summary .searchQueryKeyword {
  font-weight: bold;
  margin-right: 0.075em;
  color:#6D6D6D;
}
.search-result-container .search-result-summary .searchQueryKeyword:lang(en),
.search-result-container .search-result-summary .searchQueryKeyword:lang(zh-tw),
.search-result-container .search-result-summary .searchQueryKeyword:lang(zh-cn) {
  margin-right: -0.1em;
}
.search-result-container .search-result-summary-ing .three-quarters-loader {
  position: absolute;
  left: 14px;
  top: 13px;
  width: 16px;
  height: 16px;
}

.loading_bar.scroll {
  left: auto;
  margin: 15px auto !important;
}
