<li class="topic-title menu-item _selectable">
  <div class="{{extCss}}">
    <img class="header-title-member__dropdown__thumb" src="{{extThumbnail}}">
    <a>
      <span>{{name}}</span>
    </a>
  </div>
</li>