.file-detail .message-input-container {
  position: relative;
}

.file-detail .message-input-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 6px 9px 9px 9px;
  background-color: white;
  -webkit-transition: bottom ease-out 0.2s;
  transition: bottom ease-out 0.2s;
}

.file-detail .message-input-wrapper.float {
  bottom: -400px;
}

.file-detail .message-input-inner {
  position: relative;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

.file-detail .message-input-wrapper .comment-writer-profile {
  left: -38px;
}

.file-detail .comment-input-body {
  position: relative;
}

/* sticker panel */
.file-detail .message-input-wrapper .input-container-over .sticker_panel {
  top: -254px;
  width: 265px;
}
.file-detail .message-input-wrapper .input-container-over .sticker_panel_contents {
  width: 100%;
  height: 211px;
}
.file-detail .message-input-wrapper .input-container-over .sticker_layer {
  top: -140px;
  width: 100.5%;
}
.file-detail .floating-button {
  position: fixed;
  width: 40px;
  height: 48px;
  right: 24px;
  bottom: -68px;
  background-color: #fff;
  border: 1px solid rgba(21, 74, 103, 0.25);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16);
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  -webkit-transition: bottom ease-out 0.2s;
  transition: bottom ease-out 0.2s;
}

.file-detail .floating-button.show {
  bottom: 0;
}
.file-detail .floating-button i {
  font-size: 24px;
  vertical-align: middle;
  text-align: center;
  display: block;
  line-height: 48px;
  color: #7393A6;
}
