.file-detail-header {
  position: relative;
  padding: 15px 15px 0px 15px;
  font-size: 14px;
  color: #666;
  background-color: #FFF;
}

.file-detail-header .file-creator {
  position: relative;
  width: 290px;
  padding: 0px 20px 0px 43px;
}

.file-detail-header .file-creator-profile {
  position: absolute;
  left: -2px;
  top: -1px;
}
.file-detail-header .file-creator-profile .user-profile {
  width: 35px;
  height: 35px;
}

.file-detail-header .file-creator-name {
  max-width: 240px;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.file-detail-header .file-creator-time {
  font-size: 12px;
  color: #9DA7AD;
}

.file-detail-header .file-creator-name > span {
  cursor: pointer;
}

.file-detail-header .file-meta {
  margin-top: 10px;
  font-size: 14px;
  color: #363636;
}

.file-detail-header .file-meta.file-archived {
  display: none;
}
.file-detail-header .file-meta .file-title {
  margin-right: 2px;
  line-height: 20px;
  font-size: 15px;
  font-weight: 700;
  color: #333;
}

.file-detail-header .file-meta .file-meta-extra {
  display: inline-block;
  color: #8F9A9F;
  font-size: 11px;
  text-transform: uppercase;
  white-space: nowrap;
}

.file-detail-header .file-actions {
  position: absolute;
  top: 18px;
  right: 0px;
}

.file-detail-header .file-actions > div {
  display: inline-block;
  margin-right: 5px;
}

.file-detail-header .file-actions > div:last-child {
  margin-right: 12px;
}

.file-detail-header .file-actions:hover {
  color: #333;
}

.file-detail-header .file-action {
  cursor:pointer;
  color: #A0B3C0;;
  font-size: 18px;
}
.file-detail-header .file-action:focus,
.file-detail-header .file-action:hover {
  text-decoration: none;
  color: #5C6D79;
}
