.file-unshare-preview,
.file-archive-preview {
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  line-height: 22px;
  background-color: #f2f2f2;
  font-size: 15px;
  color: #999999;
  cursor: pointer;
}

.file-unshare-preview .fileicon-unshared,
.file-archive-preview .fileicon-archived {
  margin: 17px auto;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.file-detail-disabled-member .file-creator-profile,
.file-detail-disabled-member .comment-writer-profile {
  opacity: 0.4;
}
.file-detail-disabled-member .file-creator-name,
.file-detail-disabled-member .comment-writer-name {
  text-decoration: line-through;
  opacity: 0.4;
}
.file-archived {
  font-size: 15px;
  color: #b7b7b7;
}

/********************************************

                 STAR

********************************************/
.file-detail .comment-star .icon-star-on,
.file-detail .action-star .icon-star-on {
  color: #FBBA06 !important;
}
