/*****************************************

                 FILE LIST

********************************************/
.panel-title-container.file-detail {
  height: 41px;
  line-height: 41px;
}

.rpanel-body-content.file-detail {
  top: 35px;
}

.file-detail-body {
  position: absolute;
  top: 168px;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.file-unshare-preview,
.file-archive-preview {
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  line-height: 22px;
  background-color: #f2f2f2;
  font-size: 15px;
  color: #999999;
  cursor: pointer;
}

.file-unshare-preview .fileicon-unshared,
.file-archive-preview .fileicon-archived {
  margin: 17px auto;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.file-detail-disabled-member .file-creator-profile,
.file-detail-disabled-member .comment-writer-profile {
  opacity: 0.4;
}
.file-detail-disabled-member .file-creator-name,
.file-detail-disabled-member .comment-writer-name {
  text-decoration: line-through;
  opacity: 0.4;
}
.file-archived {
  font-size: 15px;
  color: #b7b7b7;
}
/********************************************

                 STAR

********************************************/
.file-detail .comment-star .icon-star-on,
.file-detail .action-star .icon-star-on {
  color: #f9bb00;
}

.file-detail-body .no-image-preview {
  width: 370px;
  height: 141px;
  background-size: 370px 141px;
  cursor: default !important;
}
