.deprecated-wrap .pop-body {
  word-break: keep-all;
  padding-top: 10px;
}

.deprecated-wrap .pop-body:lang(ja) {
  word-break: break-all;
}

.deprecated-wrap .pop-head {
  font-weight:bold;
  color:#1c1c1c;
  font-size:22px;
  line-height:36px;
  letter-spacing:-1px;
}

.deprecated-wrap .pop-desc-box {
  text-align: left;
  white-space: pre-line;
  padding-top:23px;
}

.deprecated-wrap .pop-btn-box {
  position: absolute;
  top: 355px;
  left: 0;
  width: 100%;
  text-align: center;
}
