.integration-preview-wrapper {
  font-size: 0.85rem;
  line-height: 1.3rem;
  clear: both;
}

.integration-preview-wrapper .preview-title,
.integration-preview-wrapper .preview-subset-title {
  color: #505050;
  font-weight: 700;
  font-size: 0.95rem;
  line-height: 1.44rem;
}

.integration-preview-wrapper .preview-description:not(:first-child),
.integration-preview-wrapper .preview-subset-description {
  margin-top: 5px;
  color: #808080;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 1.3rem;
}

.integration-preview-wrapper .preview-image {
  margin-top: 4px;
  font-weight: 500;
}

.attachment-content .integration-preview-wrapper:not(:first-child),
.integration-preview-wrapper .preview-item:not(:first-child),
.integration-preview-wrapper .preview-subsets .preview-subset:not(:first-child){
  margin-top: 18px;
}

/* integration-preview-wrapper가 두개 연속으로 올 수 있기 때문에 float으로 하지 않고 inline-block으로 처리함 */
.integration-preview-wrapper .preview-subsets .preview-subset.subset-short {
  display: inline-block;
  margin-top: 0;
  margin-right: 8px;
  width: calc(50% - 28px);
}

.attachment-content .integration-preview-wrapper {
  padding-left: 14px;
  padding-right: 13px;
}

.attachment-content .integration-preview-wrapper:first-child {
  padding-top: 8px;
}

.attachment-content .integration-preview-wrapper:last-child {
  padding-bottom: 8px;
}
