.message.text-child {
  margin-top: -22px;
}

.message.system-event + .message.text-child {
  margin-top: 20px;
}

.message.bot-text .attachment-content-wrapper .attachment-content {
  min-width: auto;
}
/*
.message.bot-text.text-child:before {
  content: '';
  position: absolute;
  left: 66px;
  right: 0;
  top:0;
  height: 0;
  border-top: 1px dashed #E1E5E8;
}
*/