.message.comment.first .comment-all i {
  display: block;
  position: absolute;
  left: 18px;
  top: 9px;
  font-size: 1.18rem;
  color: rgba(153, 153, 153, 0.5);
}

.message.comment.first .comment-all + .msg-item {
  margin-top: -1px;
}

.message.comment .comment-all + .msg-item {
  border-radius: 0;
}

/*.message.comment-child .msg-item:hover:before {
  height: 100%;
  background-color: inherit;
}*/

.message.comment.first .comment-all + .msg-item:after {
  display: none;
}

.msg-item.comment-all .comment-all-desc {
  display: inline-block;
  margin-top: 3px;
  font-size: 0.83rem;
  color: #999;
}
.msg-item.comment-all:hover .comment-all-desc {
  color: rgba(131, 137, 146, 1);
  text-decoration: underline;
}

.msg-comment .small-thumbnail-overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: .5;
}
