.message.sticker .msg-item-info {
  margin-left: -24px;
}
.message.sticker .msg-item {
  background-color: transparent;
  border: 0;
}

.msg-item.text {
  padding: 8px 13px;
  word-wrap: break-word;
  word-break: keep-all;
}

.text-highlight-background {
  background-color: #f2fbff;
}
.text-highlight-background .guide-line-bg {
  background-color: #f2fbff;
}

.bot-text .member-thumb {
  width: 34px;
  height: 34px;
  border-width: 0;
}
.bot-text .msg-text-body {
  font-size: 15px;
  line-height: 22px;
  color:#757575;
}
