.message.comment {
  margin-top: -22px;
}
.message.comment.first {
  margin-top: -18px;
}
.message.system-event + .message.comment {
  margin-top: 20px;
}
.message.system-event.unread-mark + .message.comment:not(.first) {
  margin-top: 28px;
}
.message.system-event + .message.message-group {
  margin-top: -6px;
}

.message.comment .msg-item {
  width: 50%;
  min-width: 393px;
  max-width: 600px;
  margin: 0;
  padding: 7px 15px 9px 50px;
  border-width: 1px;
  border-radius: 0;
  cursor: pointer;
  border-top-color: transparent;
}

.message.comment .msg-item:hover {
  background-color: #F7FBFE;
}

.message.comment-child.last .msg-item:not(.comment-all):hover,
.message.comment.last .msg-item:not(.comment-all):hover {
  border-bottom-color: rgba(5,35,60,0.065);
}

.message.comment.first .comment-all {
  margin-bottom: 0px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-color: rgba(5, 35, 60, 0.065);
}

.message.comment.first .comment-all,
.message.comment.first .msg-item {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-top: 2px;
  border-top: 1px solid rgba(5, 35, 60, 0.065);
}

.message.commment.first .msg-item:hover {
  border-bottom-color: rgba(5,35,60,0.2);
}
.message.comment.last .msg-item,
.message.comment.last.first .msg-item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.message.comment .msg-header {
  height: 20px;
  margin-bottom: 0;
  margin-top: 1px;
}

.message.comment .member-profile {
  top: 4px;
  left: -38px;
  width: 30px;
  height: 30px;
}

.message.comment .member-name {
  position: relative;
  top: 0;
  max-width: calc(100% - 58px);
  line-height: 20px;
  font-size: 0.83rem;
}

.message.comment .comment-content {
  line-height: 19px;
  font-size: 0.85rem;
  line-height: 1.22rem;
  vertical-align: top;
}

.message.comment .comment-content > span {
  margin-right: 3px;
}

.message.comment .comment-content > .sticker {
  display: inline-block;
  width: 120px;
  height: 120px;
}

.message.comment .msg-item-info {
  margin: 0;
  vertical-align: inherit;
}

.message-group .message.comment.first .msg-item.comment-all:before,
.message.comment.first > .msg-item:first-child:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 22px;
  width: 8px;
  height: 8px;
  background-color: inherit;
  border-left: 1px solid rgba(5, 35, 60, 0.065);
  border-top: 1px solid rgba(5, 35, 60, 0.065);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
}

.message.comment-child .msg-item {
  padding-right: 56px;
}

.message.comment .msg-item .comment-line {
  position: absolute;
  top: -1px;
  height: 1px;
  left: -1px;
  right: -1px;
  background-color: rgba(5, 35, 60, 0.06);
  z-index: 1;
}
.message.comment.first .msg-item .comment-line {
  background-color: transparent;
}
.message.comment-child .msg-item .comment-line {
  left: 50px;
  top: -2px;
  right: 0;
}
.message.comment-child .msg-item:hover:before {
  content: '';
  position: absolute;
  top: -2px;
  height: 1px;
  left: 0;
  width: 54px;
  background-color: inherit;
  z-index: 1;
}
.message.comment .msg-item .comment-line {
  background-color: rgba(5, 35, 60, 0.065);
}

.message-group .message.comment > .msg-item {
  display: block;
}
