.msg-extra,
.msg-text-extra {
  display: inline;
}

/* star, more buttons */
.msg-buttons {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 0px;
  margin-top: 7px;
}

.msg-item-icon {
  float: right;
  padding: 2px 4px;
  color: #575757;
  opacity: 0.45;
  font-size: 15px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 19px;
  visibility: hidden;
}
.msg-item-icon:hover {
  color: #58829b !important;
  opacity: 1 !important;
}
.msg-item-icon > i {
  line-height: inherit;
}
.msg-item-circle:hover {
  background-color: rgba(143, 174, 186, 0.2);
}

.msg-item-icon.msg-item-circle:hover {
  opacity: 1 ;
}

.msg-item-delete {
  font-size: 14px;
  margin-top: 1px;
  margin-right: 2px;
  float: left;
}

.msg-item-star.on {
  color: #FFB32A !important;
  opacity: 1 !important;
  visibility: visible;
}

.comment-continue .msg-item-star.on i {
  vertical-align: top;
  display: inline-block;
}

.msg-item-more {
  color:#575757;
}

/* badge count, timestamp */
.msg-item-info {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  margin-left: -48px;
  padding-left: 4px;
  line-height: 18px;
}

.msg-item-info.sending {
  margin-left: -26px;
}

.unread-badge {
  background-color: transparent;
  border-radius: 16px;
  font-family: "Helvetica Neue";
  font-size: 10px;
  color: #00abe6;
  padding: 2px 5px 3px 5px;
  font-weight: 600;
  margin-left: -3px;
  display: inline;
}

.unread-badge:empty {
  display: none;
}

.msg-time {
  font-size: 10px;
  line-height: 10px;
  color: #8F9A9F;
  font-weight: 400;
}
