.message.comment {
  margin-top: -21px;
}
.message.comment.first {
  margin-top: -18px;
}
.message.system-event + .message.comment {
  margin-top: 20px;
}

.message.comment .msg-item {
  width: 50%;
  min-width: 450px;
  max-width: 600px;
  margin: 0;
  padding: 10px 12px 12px 56px;
  border-width: 1px;
  border-radius: 0;
  cursor: pointer;
  border-top-color: transparent;
}

.message.comment .msg-item:hover {
  background-color: #F7FBFE;
}

.message.comment-child.last .msg-item:not(.comment-all):hover,
.message.comment.last .msg-item:not(.comment-all):hover {
  border-bottom-color: rgba(5,35,60,0.2);
}

.message.comment.first .comment-all {
  /*background-color: #fff;*/
  margin-bottom: 0px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-color: rgba(5, 35, 60, 0.1);
}

.message.comment.first .comment-all,
.message.comment.first .msg-item {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-top: 8px;
  border-top: 1px solid rgba(5, 35, 60, 0.1);
}

.message.commment.first .msg-item:hover {
  border-bottom-color: rgba(5,35,60,0.2);
}
.message.comment.last .msg-item,
.message.comment.last.first .msg-item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.message.comment .msg-header {
  height: 22px;
}

.message.comment .member-profile {
  top: 4px;
  left: -45px;
}

.message.comment .member-name {
  position: relative;
  top: 1px;
  max-width: 50%;
}

.message.comment .comment-content {
  line-height: 19px;
  font-size: 14px;
  vertical-align: top;
}

.message.comment .comment-content > span {
  margin-right: 3px;
}

.message.comment .comment-content > .sticker {
  display: inline-block;
  width: 126px;
  height: 126px;
}

.message.comment .msg-item-info {
  margin: 0;
  vertical-align: inherit;
}
.message .msg-item-info .msg-badge {
  padding: 0 2px 0 2px;
}

.message.comment.first .msg-item:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 23px;
  width: 9px;
  height: 9px;
  background-color: inherit;
  border-left: 1px solid rgba(5, 35, 60, 0.1);
  border-top: 1px solid rgba(5, 35, 60, 0.1);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
}

.message.comment-child .msg-item {
  padding-right: 56px;
}
.message.comment .msg-item:before {
  content: '';
  position: absolute;
  top: -1px;
  height: 1px;
  left: 0;
  right: 0;
  background-color: rgba(5, 35, 60, 0.13);
  z-index: 1;
}

.message.comment.first .msg-item:before {
  background-color: transparent;
}
.message.comment-child .msg-item:before {
  left: 54px;
  top: -2px;
}
.message.comment-child .msg-item:hover:after {
  content: '';
  position: absolute;
  top: -2px;
  height: 1px;
  left: 0;
  width: 54px;
  background-color: inherit;
  z-index: 1;
}
.message.comment-child.self .msg-item:before {
  background-color: rgba(172, 192, 208, 0.5);
}
