.message.sticker .msg-item-info {
  margin-left: -24px;
}
.message.sticker .msg-item {
  background-color: transparent !important;
  border: 0 !important;
}

.msg-item.text {
  padding: 8px 13px;
  word-wrap: break-word;
  word-break: keep-all;
}

.message.system-event.unread-mark + .message.text:not(.text-child):not(.bot-text) {
  margin-top: 28px;
}
.message.system-event.unread-mark + .message.system-event.noti  {
  margin-top: 16px;
}
.message.system-event.unread-mark + .message.system-event.date-divider  {
  margin-top: 20px;
}
.text-highlight-background {
  background-color: #f2fbff;
}
.text-highlight-background .guide-line-bg {
  background-color: #f2fbff;
}

.bot-text .member-thumb {
  width: 34px;
  height: 34px;
  border-width: 0;
}
.bot-text .msg-text-body {
  font-size: 15px;
  line-height: 22px;
  color:#757575;
}

.message.focus .msg-item.text:after {
  content: '';
  position: absolute;
  border: 1px solid #00ACE9;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  border-radius: 3px;
  box-shadow: 0 0 5px 0px rgba(0, 172, 233, 0.5);
  opacity: 0;
  
  -webkit-animation-name: jnd-animate-selected-item-focus;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0.125, 0.675, 0.9);
  -webkit-animation-iteration-count: 1;

  animation-name: jnd-animate-selected-item-focus;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.65, 0.125, 0.675, 0.9);
  animation-iteration-count: 1;
}
@-webkit-keyframes jnd-animate-selected-item-focus {
  0% { opacity: 0; }
  35% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes jnd-animate-selected-item-focus {
  0% { opacity: 0; }
  35% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}
