.message.system-event.date-divider {
  display: block;
  margin-left: 36px;
  padding: 5px 12px;
  font-size: 0.92rem;
  font-weight: 700;
  color: #7691A7;
}

.message.system-event.date-divider:before {
  background-color: rgba(118, 145, 167, 0.5);
  right: 16px;
  width: auto;
  left: -20px;
}

.message.system-event.date-divider span {
  padding: 0 10px;
  background-color: #F1F7FC;
}
